<div class="tw-w-full tw-h-full tw-relative">
	<div class="tw-w-full tw-h-16 tw-bg-background tw-shadow-md tw-shadow-content-2">
		<jobify-header></jobify-header>
	</div>
	<div class="tw-w-full tw-h-[calc(100vh-4rem)] tw-grid tw-grid-cols-sidebar-full">
		<div class="tw-w-full tw-h-full tw-bg-background tw-shadow-md tw-shadow-content-2">
			<jobify-sidebar></jobify-sidebar>
		</div>
		<div class="tw-w-full tw-h-full tw-p-5 tw-bg-content-2">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
