<div class="menu-bar">
  <!-- Menu Trigger -->
  <div *ngIf="isPopup" class="menu-trigger" (click)="toggleMenu($event)">
    <ng-content select="[menuTrigger]"></ng-content>
  </div>

  <!-- Popup Menu or Full-Width Menu -->
  <p-menu
    #menu
    [model]="menuItems"
    [popup]="isPopup"
    [ngStyle]="{
      width: isPopup ? '' : '100%',
      'background-color': isPopup ? 'red' : ''
    }"
  >
    <!-- Start Template -->
    <ng-template *ngIf="startTemplate" pTemplate="start">
      <ng-container *ngTemplateOutlet="startTemplate"></ng-container>
    </ng-template>

    <!-- Submenu Header Template -->
    <ng-template *ngIf="subMenuTemplate" pTemplate="submenuheader" let-item>
      <ng-container
        *ngTemplateOutlet="subMenuTemplate; context: { $implicit: item }"
      ></ng-container>
    </ng-template>

    <!-- Menu Item Template -->
    <ng-template *ngIf="itemTemplate" pTemplate="item" let-item>
      <ng-container
        *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"
      ></ng-container>
    </ng-template>

    <!-- End Template -->
    <ng-template *ngIf="endTemplate" pTemplate="end">
      <ng-container *ngTemplateOutlet="endTemplate"></ng-container>
    </ng-template>
  </p-menu>
</div>
