# MONGODB_URI=mongodb://root:root@127.0.0.1:27018/jobify?authSource=admin
MONGODB_URI=mongodb://localhost:27017/jobify
MONGODB_USER=root
MONGODB_PASSWORD=root
MONGODB_HOST=127.0.0.1
MONGODB_PORT=27018
MONGODB_DATABASE=jobify
MONGODB_AUTHSOURCE=admin

# GMAIL ENV
GMAIL_USER=your-email@gmail.com
GMAIL_PASSWORD=your-app-specific-password
EMAIL_PROVIDER=gmail
DEFAULT_FROM_EMAIL=your-email@gmail.com
