<h1>Hello {{username}},</h1>
<p>We received a request to reset your password. Click the link below to reset
  your password:</p>
<a href='{{resetUrl}}'>Reset Password</a>
<p>If you didn't request a password reset, you can safely ignore this email.</p>
<p>Thanks,<br />The Jobify Team</p>