<div
  class="tw-w-full tw-h-full tw-flex tw-justify-between tw-items-center tw-px-5"
>
  <!-- Logo Section -->
  <div
    class="tw-w-auto tw-h-auto tw-flex tw-justify-start tw-items-center tw-gap-2 tw-cursor-pointer tw-min-w-52"
  >
    <span class="material-symbols-outlined tw-text-4xl tw-text-primary-500">
      travel_explore
    </span>
    <div class="tw-relative tw-grid tw-grid-cols-1">
      <span
        class="tw-text-foreground tw-text-xl tw-font-bold tw-relative tw-z-20 tw-tracking-wider"
        >Jobify</span
      >
      <span
        class="tw-text-xs tw-relative tw-bottom-[0.35rem] tw-text-secondary tw-font-[500]"
        >Job Dashboard</span
      >
    </div>
  </div>

  <div
    class="tw-flex-1 tw-h-full tw-flex tw-justify-between tw-items-center tw-py-3"
  >
    <!-- Search Bar -->
    <div
      class="tw-min-w-72 tw-px-3 tw-h-auto tw-py-1 tw-rounded-md tw-bg-content-2 tw-flex tw-justify-start tw-items-center tw-gap-3"
    >
      <input
        type="text"
        class="tw-flex-1 tw-min-w-44 tw-outline-none tw-border-none tw-placeholder:tw-text-foreground tw-text-foreground tw-text-sm"
        placeholder="Search..."
      />
      <span class="material-symbols-outlined tw-text-secondary tw-text-xl">
        search
      </span>
    </div>

    <!-- Style Tools User Nav -->
    <div
      class="tw-flex-1 tw-flex tw-justify-end tw-items-center tw-gap-2 h-full"
    >
      <div
        class="tw-w-7 tw-h-7 tw-rounded-full tw-flex tw-justify-center tw-items-center tw-cursor-pointer"
        (click)="onToggleTheme()"
      >
        <ng-container *ngIf="themeType$ | async as themeType">
          <span
            class="material-symbols-outlined tw-w-full tw-h-full tw-text-foreground tw-flex tw-justify-center tw-items-center tw-text-xl"
            *ngIf="themeType === AppThemeEnum.DARK"
          >
            light_mode
          </span>
          <span
            class="material-symbols-outlined tw-w-full tw-h-full tw-text-foreground tw-flex tw-justify-center tw-items-center tw-text-xl"
            *ngIf="themeType === AppThemeEnum.LIGHT"
          >
            dark_mode
          </span>
        </ng-container>
      </div>

      <!-- Usernav code -->
      <jobify-menu-bar
        [menuItems]="menuItems"
        [isPopup]="true"
        [style]="
          'tw-w-36 tw-h-auto tw-rounded-md tw-bg-background tw-border-[1px] tw-border-content-3 tw-shadow-xl tw-p-2'
        "
      >
        <!-- Menu Trigger -->
        <button
          menuTrigger
          class="tw-h-8 tw-w-8 tw-rounded-md tw-p-0.5 tw-flex tw-justify-center tw-items-center tw-overflow-hidden tw-border-[1px] tw-border-secondary"
        >
          <img
            src="https://cdna.artstation.com/p/assets/covers/images/008/881/484/large/julia-sereda-js01.jpg?1515870936"
            class="tw-w-full tw-h-full tw-rounded"
          />
        </button>

        <!-- Menu Item Template -->
        <ng-template #itemTemplate let-item>
          <div
            class="tw-w-full tw-py-1 tw-rounded tw-px-2 hover:tw-bg-primary-500 hover:tw-text-slate-200 tw-transition-all tw-duration-300 tw-flex tw-justify-start tw-items-center gap-2 tw-cursor-pointer tw-text-foreground tw-text-sm"
          >
            <span class="tw-text-sm" [ngClass]="item.icon"></span>
            <span class="tw-text-sm">{{ item.label }}</span>
          </div>
        </ng-template>
      </jobify-menu-bar>
    </div>
  </div>
</div>
